@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "fitverse";
  default: true;

  --color-primary: #16a34a;
  --color-secondary: #22c55e;
  --color-accent: #84cc16;
  --color-neutral: #1f2937;
  --color-base-100: #ffffff;
}